body{
    color: white;
    background-color: rgb(242, 236, 236);
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a{
    color: white;
    text-decoration: none;
}

header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(3, 101, 110)
}

.img_perfil{
    text-align: center;
}

h1{
    color: rgb(3, 101, 110) ;
}