/* Author: Dennis Reis | MIT License | https://github.com/dennisreis-dev */

/* Tags
     ========================================================================== */

body {
    color: white;
    background-color: rgb(19, 18, 18);
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(3, 101, 110)
}

h1 {
    color: rgb(3, 101, 110);
}

footer img {
    width: 25px;
    height: 25px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}

nav a:hover {
   color: green;
}

/* Class
     ========================================================================== */

.container {
   padding: 0px 50px;
}

.dir_autorais p {
  text-align: center;
  font-size: 12px;
}

.dir_autorais {
  display: flex;
  justify-content: right;
  list-style-type: none;
  align-items: center;
  padding: 16px;
  font-size: 10px;
}

.img_perfil {
    text-align: center;
}

/* ID
     ========================================================================== */

#menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

#projetos a {
   
    text-decoration-line: underline;
    
}

#projetos a:hover {
    color: rgb(3, 226, 246);
 }

